<form class="login-form">

    <mat-form-field class="login-input">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Joe">
    </mat-form-field>

    <mat-form-field class="login-input">
        <mat-label>Email</mat-label>
        <input matInput placeholder="joe@sample.com">
    </mat-form-field>

    <mat-form-field class="login-input">
        <mat-label>Create Password</mat-label>
        <input matInput type="password">
        <button (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                class="eye-btn"
                mat-icon-button matSuffix>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button class="primary-button" color="primary" mat-raised-button>Create Account</button>

</form>
