<p>
  <mat-toolbar color="primary">
    <div>
      <div>
        <button [matRippleUnbounded]="unbounded"
                appRippleOnHover
                class="munna"
                color="primary"
                mat-flat-button
                matRipple>Primary
        </button>
        <div class="muu"></div>
      </div>
    </div>
    <!--    <span class="ripple" id="underline"></span>-->
  </mat-toolbar>
</p>

<div>
  <button [matRippleUnbounded]="unbounded"
          appRippleOnHover
          class="munna"
          color="primary"
          mat-flat-button
          matRipple>Primary
  </button>
</div>
  <div class="muu"></div>
